@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Flori</h1>
    <p>Aceasta este o aplicatie ASP.NET Core Web Application folosind Entity Framework</p>
    <img src="/1.png" alt="Home Photo" />
</div>
